version: 2
updates:
  # Maintain dependencies for npm.
  - package-ecosystem: 'npm'
    assignees:
      - 'lumirlumir'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    cooldown:
      default-days: 7
      semver-major-days: 45
      semver-minor-days: 15
      semver-patch-days: 7
    # Specify all directories from the current layer and below recursively, using globstar, for locations of manifest files.
    directories:
      - '**/*'
    groups:
      bananass:
        patterns:
          - 'eslint-config-bananass'
          - 'prettier-config-bananass'
      babel:
        patterns:
          - '@babel/*'
      react:
        patterns:
          - 'react'
          - 'react-dom'
      next:
        patterns:
          - 'next'
          - '@next/*'
      typescript-eslint:
        patterns:
          - '@typescript-eslint/*'
    open-pull-requests-limit: 2
    schedule:
      interval: 'daily'
      time: '10:00'
      timezone: 'Asia/Seoul'
    pull-request-branch-name:
      separator: '-'
    versioning-strategy: 'increase'

  # Maintain dependencies for GitHub Actions.
  - package-ecosystem: 'github-actions'
    assignees:
      - 'lumirlumir'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    cooldown:
      default-days: 15
    # Workflow files stored in the default location of `.github/workflows`. (You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.)
    directory: '/'
    open-pull-requests-limit: 2
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '10:00'
      timezone: 'Asia/Seoul'
    pull-request-branch-name:
      separator: '-'
