# dependencies
node_modules

# production
build
.next
next-env.d.ts
*.tsbuildinfo
**/.vitepress/cache/

# env
.env
.env.development
.env.production

# tests
coverage

# packages
packages/*/LICENSE.md
packages/*/README.md
