# https://git-scm.com/docs/gitattributes

# Ensure consistent EOL(LF) for all files that Git considers text files.
* text=auto eol=lf

# Ensure that all type declaration(.d.ts) files are detectable by GitHub Linguist.
*.d.ts linguist-vendored=false
