# dependencies
node_modules

# production
build
.next
**/.vitepress/cache/

# env
.env
.env.development
.env.production

# tests
coverage

# package
package-lock.json

# markdown
*.md

# cpp
*.c
*.cpp
