/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: #83ba63; /* Node.js Brand Color */
  --vp-c-brand-2: #417f38; /* Node.js Brand Color */
  --vp-c-brand-3: #215127; /* Node.js Brand Color */
  --vp-c-brand-soft: #83ba6340;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(150deg, #83ba63 20%, #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #83ba63 50%,
    #41d1ff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

.DocSearch-Button {
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

.DocSearch-Button:hover {
  border-color: var(--vp-c-brand-1);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }

  .image-container {
    transform: scale(2) translate(0px, -16px) !important;
  }

  .image-bg {
    width: 320px !important;
    height: 320px !important;
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(64px);
  }

  .image-container {
    transform: scale(2) translate(-64px, -32px) !important;
  }

  .image-bg {
    width: 384px !important;
    height: 384px !important;
  }
}

/**
 * Markdown Document
 * -------------------------------------------------------------------------- */

.vp-doc p img {
  display: inline;
}
