name: publish

on:
  release:
    types: [published]

permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Set up checkout
        uses: actions/checkout@v6

      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
          registry-url: https://registry.npmjs.org

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Update npm
        run: npm install -g npm@latest

      - name: Set up node_modules
        run: npm ci

      - name: Build
        run: npm run build --if-present

      - name: Publish
        run: npm run release:publish
